# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

debug

.idea/

cmd/staterecovery
cmd/StateRecovery.log

cmd/build.sh
cmd/build-server.sh
cmd/_tmp.json
cmd/_tmp
cmd/state.json
cmd/state_old.json
cmd/*.json
cmd/blockfile/*
cmd/blockfile-2/*

output/